DASHSCOPE_API_KEYS=your_dashscope_key_1,your_dashscope_key_2

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=data1

WECHAT_APPID=your_wechat_appid
WECHAT_SECRET=your_wechat_secret

BAIDU_APP_ID=your_baidu_app_id
BAIDU_API_KEY=your_baidu_api_key
BAIDU_SECRET_KEY=your_baidu_secret_key
